.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff700;
    border: 2px solid #fff700;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff700;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #fff700;
    box-shadow: none;
}
