.card {
    border: 2px solid #fff700;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px #fff700;    
    
  }
  .card:hover {
    transform: scale(1.078);
    transition: all ease 0.8s;
  }
  
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
  }
  
  .card-header h3 {
    padding: 14px 18px;
  }
  
  .card-body {
    padding: 0 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-footer {
    padding: 14px 18px;
  }
  
  .card-list {
    height: 100%;
    padding: 72px 20px;
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
     
  }
     
  .service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
    margin-left:5%;
  }

  .center { 
    color:white;
  }
 