#contact {
    height: 100%;
    padding: 72px 20px;
    
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: white;
  }
  
  #contact form {
    width: 100%;
    height: 100%;
    max-width: 500px;
    border: 2px solid #fff700;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 0 15px #fff700;
  }
  #contact form:hover {
    transform: scale(1.02);
    transition: all ease 1s;
  }

   
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .form-group input {
    width: 100%;
    border: 1px solid rgb(224, 241, 69);
    padding: 8px 12px;
    border-radius: 4px;
   
  }
  
  .form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100%;
    border: 1px solid  rgb(224, 241, 69);
    padding: 8px 12px;
    border-radius: 4px;
    overflow: hidden;
    resize: none;
  }
  
  .form-group label {
    color: white;
    font-size: 18px;
  }
  .form-group textarea {
    color: white;
  }
  .form-group a {
    text-align: center;
    gap: 20px;
  }