#footer {
    background: rgb(44, 12, 12);
    color: rgb(255, 255, 255);
        
    text-align: center;
   
}
#footer:hover {
  background: rgb rgb(163, 175, 49);
  transition: all ease 0.4s;
  
}
.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: initial;
    font-family: sans-serif;
}
.social-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}