#hero-banner {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.3s;
    gap: 80px;
    font-family: 'Times New Roman', Times, serif;

 
} 

.hero-content h1 {
    font-size: 55px;
}

.hero-content h2 {
    font-size: 32px;
    margin-top: -10px;

}
.hero-content h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke:.7px #fff700;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
    position: relative;
}


@keyframes display-text {
    25%,100%{
        display: none;

    }
}

.hero-content h2 span:before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #fff700;
    color: #fff700;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
   10%,100% {
      width: 0;
    }
    70%,90% {
        width:100%;
    }
}

.hero-content p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.hero-content .button {
    display: flex;
    align-items: center;
}

.hero-content .button .sci {
    margin-left: 20px;

}

.hero-content .button .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff700;
    border-radius: 50%;
    font-size: 20px;
    color: #fff700;
    margin: 0 8px;
    transition: .5s;

}

.hero-content .button .sci a:hover {
    background: #fff700;
    color: #1f242d;
    box-shadow: 0 0 10px #fff700;
    overflow: hidden;
}

.home-img .img-box {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding:5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;  
    opacity: 0.8; 
                        

}

.home-img .img-box::before ,
.home-img .img-box::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent, #fff700);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;   

}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}


.home-img .img-box .img-item {
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: .1px solid #1f242d;
   
}


.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    margin-left: 23px;
    margin-top: -13% ;
    mix-blend-mode: lighten;
   
}

.home-image .img-boxer {
    
        width: 32vw;
        height: 32vw;
        border-radius:120px 30px 120px 30px;
        border: 2px solid #fff700;
        padding:5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;    
        overflow: hidden;  
        box-shadow: 0 0 10px #fff700;
}

.img-items {
    opacity: 0.6;
}

.img-items:hover {
    opacity: 1;
    transition: 1s ease-in-out;
    cursor: pointer;
}
    