a {
    color: white;
    text-decoration: none;
}

.navbar {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.4s;

}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 400; 
    transition: .5;
   
   
}

.navbar ul li a:hover ,
.navbar ul li a :active {
    color:#fff700;
    
}
